<%= form_for(@kaction) do |f| %>
  <% if @kaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kaction.errors.count, "error") %> prohibited this kaction from being saved:</h2>

      <ul>
      <% @kaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
